# Node modules
node_modules/

# Logs
*.log

# Environment files
.env

# Python cache
__pycache__/
*.pyc

# Coverage reports
coverage/
*.cover

# Build directories
dist/
build/
firebase_admin_key.jsonfirebase/firebase_admin_key.json
Firebase_key.json"Firebase_key.json" 
